<div class="row">
    <div class="col-2">

        <h1>Discover Your Spark, Embrace Your Glow!</h1>
        <p>Elevate your elegance effortlessly with our curated essentials.<br>
        From skincare to makeup, every click unveils a world of timeless radiance. <br>
        Your journey to captivating beauty starts here.</p>
        <a href="" class="btn">Explore Now &#8594;</a>
    </div>
    <div class="col-2">
        <img src="images/Sephora.jpeg">
    </div>

    
     <!----Features Categories---->

     <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="images/image2.makeup.jpeg">
                </div>
                <div class="col-3">
                    <img src="images/image2-skincare.jpeg">
                </div>
                <div class="col-3">
                    <img src="images/image5-makeuptoools.jpeg">
                </div>
        </div>
        
        </div>
    </div>
    <!-----Featured Products------->
    <div class="small-container">
      
        <h2>  <div class="title">Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="images/IMG_8344.jpg">
                <h4>Dior Rosy Glow Blush</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>

                </div>
                <p>$56.00</p>
            
    </div>
    <div class="col-4">
        <img src="images/image2-rarebeuty.jpg">
        <h4>Rare Beauty Blush</h4>
        <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>

        </div>
        <p>$66.00</p>
    
</div>
<div class="col-4">
    <img src="images/image-3-fetprod.jpg">
    <h4>LANEIGE Lip Glowy Balm</h4>
    <div class="rating">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>

    </div>
    <p>$25.00</p>

</div>
<div class="col-4">
    <img src="images/image4-fetprod.jpg">
    <h4>RTechniques Expert Face Brush</h4>
    <div class="rating">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        

    </div>
    <p>$30.00</p>
</div>
</div>

<!----Latest Products-->
<h2>  <div class="title">Latest Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="images/IMG_8346.jpg">
            <h4>Rare Beauty Lipstick</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>

            </div>
            <p>$38.00</p>
        
</div>
<div class="col-4">
    <img src="images/IMG_8348.jpg">
    <h4>Milk Hydro Grip Set +</h4>
    <div class="rating">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        

    </div>
    <p>$54.00</p>

</div>
<div class="col-4">
<img src="images/IMG_8350.jpg">
<h4>Rare Beauty Liquid Highlighter</h4>
<div class="rating">
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>

</div>
<p>$35.00</p>

</div>
<div class="col-4">
<img src="images/IMG_8351.jpg">
<h4>La Roche-Posay Sunscreen</h4>
<div class="rating">
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
</div>
<p>$50.00</p>

</div>
<div class="col-4">
    <img src="images/IMG_8354.jpg">
    <h4>The Ordinery Niacinamide 10%</h4>
    <div class="rating">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
    </div>
    <p>$15.00</p>
    
    </div>
    <div class="col-4">
        <img src="images/IMG_8355.jpg">
        <h4>Dior Backstage Face & Body Fondation</h4>
        <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <p>$72.00</p>
        
        </div>
        <div class="col-4">
            <img src="images/IMG_8356.jpg">
            <h4>Milk Cream Bronzer Stick</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>$50.00</p>
            
            </div>
            <div class="col-4">
                <img src="images/IMG_8357.jpg">
                <h4>Rodhe Lipbalm</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>$41.00</p>
                
             </div>
         </div>
      </div>
      
      
      <!-----offer----->
    
    
      <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="images/extrapic2.jpg" class="offer-img">
                </div>
                <div class="col-2">
                    <p>Exclusively Available on Vanilla Beuty Store</p>
                    <h1>EMS Face Therapy</h1>
                    <small>
                        Neck Face Beauty Device LED Photon Skin Care Tool Tighten Double Chin
                         Smooth Wrinkles Face Lifting Massager Neck Face Massager Gift For Women
                    </small>
                    <a href=""class='btn'>Buy Now &#8594;</a>
                </div>
            </div>
        </div>
      </div>




        
<!----------testimonial--------------->   
  
   <div class="testimonial">
    <div class="small-container">
    <div class="row">
        <div class="col-3">
                 <i class="fa fa-quote-left"></i>
                   <p>I'm absolutely in love with the facial serum I purchased from this beauty e-commerce shop! It's made such a noticeable difference in the texture and brightness of my skin. Plus, the fast shipping was a huge bonus!</p>
                   <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="images/perosnone.jpeg">
                    <h3>Selma Shell</h3>
        </div>
         <div class="col-3">
                 <i class="fa fa-quote-left"></i>
                   <p>I've been searching for a natural shampoo that actually works for ages, and I finally found it here! Not only does it leave my hair feeling incredibly soft and healthy, but it smells amazing too. Definitely my new go-to shop for all things beauty!</p>
                   <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="images/person2.avif">
                    <h3>Laura Smith</h3>
        </div>
         <div class="col-3">
                 <i class="fa fa-quote-left"></i>
                   <p>I was hesitant to try a new skincare brand, but I'm so glad I did. The moisturizer I bought from this e-commerce shop is pure magic! It's lightweight, hydrating, and has transformed my dry patches overnight. Can't wait to explore more products from this amazing store!</p>
                   <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="images/perosn3.avif">
                    <h3>Mabel Karim</h3>
        </div>
    </div>
    </div>
</div>

     <!----Brands----->
     <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="images/rarebeauty.logo.png">
                </div>
                <div class="col-5">
                    <img src="images/milk.logo-removebg-preview.png">
                </div>
                <div class="col-5">
                    <img src="images/Dior_Logo.svg.png">
                </div>
                <div class="col-5">
                    <img src="images/rodhe.logo.png">
                </div>
                <div class="col-5">
                    <img src="images/RT-logo.png">
                </div>
            </div>
        </div>
     </div>
    
</div>