
<div class="container">
    <div class="row"  id="myRow">
        <div class="col-2">
            <h1>Discover Your Spark, Embrace Your Glow!</h1>
            <p>Elevate your elegance effortlessly with our curated essentials.<br>
                From skincare to makeup, every click unveils a world of timeless radiance. <br>
                Your journey to captivating beauty starts here.</p>
            <a href="#products" class="btn">Explore now &#8594; </a>
        </div>
        <div class="col-2">
            <img src="images/HomePage2.png">
    </div>
</div>
<!------------------ featured categories --------------->
<div class="categories">
<div class="small-container">
<div class="row">
   <div class="col-3">
       <img src="images/skincarehome.jpeg">
   </div> 
   <div class="col-3">
      <img src="images/makeuphome.jpeg">
   </div> 
   <div class="col-3">
       <img src="images/toolhome.jpeg">
   </div> 
</div>
</div>
</div>

<!-------------- Our Featured Products -------------->


<div class="small-container">
<h2 class="title">Featured Products</h2>
<div class="row">
<div class="col-4">
    <img src="images/Products/lanagelipbalm.jpg">
    <h4>LANEIGE Lip Glowy Balm</h4>
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
    </div>
    <p>$55.00</p>
</div> 
   <div class="col-4">
       <img src="images/Products/DiorFondation.jpg">
       <h4>Dior Backstage Face & Body Foundation</h4>
       <div class="rating">
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star-half-o"></i>
       </div>
       <p>$75.00</p>
   </div> 
   <div class="col-4">
       <img src="images/Products/RBHighlighter.jpg">
       <h4>Positive Light Liquid Luminizer</h4>
       <div class="rating">
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star-half-o"></i>
       </div>
       <p>$45.00</p>
   </div> 
    <div class="col-4">
       <img src="images/Products/RT Brush.jpg">
       <h4>Ultra Plush Blush Makeup Brush</h4>
       <div class="rating">
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star-o"></i>
       </div>
       <p>$55.00</p>
   </div> 
</div>
<h2 class="title">Latest Products</h2>
 <div class="row">
   <div class="col-4">
       <img src="images/Products/DiorBlush.jpg">
       <h4>Dior Rosy Glow Blush</h4>
       <div class="rating">
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star-o"></i>
       </div>
       <p>$95.00</p>
   </div> 
   <div class="col-4">
       <img src="images/Products/LRPSunscreen.jpg">
       <h4>La Roche-Posay Sunscreen</h4>
       <div class="rating">
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star-half-o"></i>
       </div>
       <p>$55.00</p>
   </div> 
   <div class="col-4">
       <img src="images/Products/MIlkPrimer.jpg">
       <h4>Milk Makeup Hydro Grip Primer</h4>
       <div class="rating">
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star-half-o"></i>
       </div>
       <p>$30.00</p> 
   </div> 
    <div class="col-4">
       <img src="images/Products/RodheLipstick.jpg">
       <h4>Peptide Lip Treatment</h4>
       <div class="rating">
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star-o"></i>
       </div>
       <p>$34.00</p>
   </div> 
</div>
<div class="row">
   <div class="col-4">
       <img src="images//Products/MilkConutrestick.jpg">
       <h4>Sculpt Stick Cream Contour Stick</h4>
       <div class="rating">
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star-o"></i>
       </div>
       <p>$35.00</p> 
   </div> 
   <div class="col-4">
       <img src="images/Products/theONiancinamid.jpg">
       <h4>Niacinamide 10% + Zinc 1%</h4>
       <div class="rating">
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star-half-o"></i>
       </div>
       <p>$50.00</p>
   </div> 
   <div class="col-4">
       <img src="images/Products/RBBlush.jpg">
       <h4>Soft Pinch Liquid Blush</h4>
       <div class="rating">
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star-half-o"></i>
       </div>
       <p>$55.00</p>
   </div> 
    <div class="col-4">
       <img src="images/Products/RBLipstick2.jpg">
       <h4>Kind Words Matte Lipstick</h4>
       <div class="rating">
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star"></i>
           <i class="fa fa-star-o"></i>
       </div>
       <p>$75.00</p>
   </div> 
</div>
</div>

<!----------offer--------------->

<div class="offer">
<div class="small-container">
<div class="row">
<div class="col-2">
   <img src="images/Products/SkinSpatula.png" class="offer-img">
</div>
<div class="col-2">
   <p>Exclusively Available on Vanilla Beauty Store</p>   
   <h1>Essia - Ultrasonic Exfoliating Skin Spatula</h1> 
   <small>This ultrasonic exfoliating skin spatula uses ultrasonic microcurrent for lines and clogged pores. The ultrasonic vibrations from the Exfoliate setting work to dislodge blackheads and other impurities from pores, helping fight off rogue breakouts and inflammation.
</small>
   <br>
   <a href="#" class="btn">Buy Now &#8594;</a>
</div>
</div>
</div>

</div>

<!----------testimonial--------------->   

<div class="testimonial">
<div class="small-container">
<div class="row">
<div class="col-3">
        <i class="fa fa-quote-left"></i>
          <p>Simply the best! My go-to for all things beauty. Quality products, great prices, and my skin has never felt better. Can't recommend it enough</p>
          <div class="rating">
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star-o"></i>
           </div>
           <img src="images/testimonials/face1.avif">
           <h3>Emily Johnson</h3>
</div>
<div class="col-3">
        <i class="fa fa-quote-left"></i>
          <p>Obsessed! This site is a gem. Amazing products, fast delivery, and my skin has never been happier. 10/10 recommend!</p>
          <div class="rating">
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star-o"></i>
           </div>
           <img src="images/testimonials/face2.jpeg">
           <h3>Sophia Martinez</h3>
</div>
<div class="col-3">
        <i class="fa fa-quote-left"></i>
          <p>Wow! Amazing finds, amazing results. My skin is glowing thanks to this site. Definitely my new beauty destination!</p>
          <div class="rating">
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star-o"></i>
           </div>
           <img src="images/testimonials/face3.jpeg">
           <h3>Ava Thompson</h3>
</div>
</div>
</div>
</div>
<!----------Brands--------------->     
<div class="brands">
<div class="small-container">
<div class="row">
    <div class="col-5">
        <img src="images/brands/Dior_Logo.svg.png">
    </div>
    <div class="col-5">
        <img src="images/brands/milk.logo-removebg-preview.png">
    </div>
    <div class="col-5">
        <img src="images/brands/rarebeauty.logo.png">
    </div>
    <div class="col-5">
        <img src="images/brands/rodhe.logo.png">
    </div>
    <div class="col-5">
        <img src="images/brands/RT-logo.png">
    </div>
</div>
</div>
</div>
</div>
</section>